*{
 padding: 0;
 margin: 0;
}

input, select{
  width: 100%;
  background-color: #354463;
  border: none;
  color: white;
  border-bottom: 2px solid #C1F7D5;
  padding-bottom: 10px;
  padding-top: 2px;
}

label{
  font-size: 1em;
}

/* Header starts here */
header{
  text-align: center;
  font: normal normal bold 28px/36px Helvetica;
  padding: 1em;
  color: #354463;
}
/* Header ends here */

/* Donation section starts here */

.donation-form{
  color: white;
  background-image: url('./images_donation/annie-spratt-427340-unsplash.png');
  background-position: center;
  background-size: cover;
  padding-left: 160px;
}

.quote{
  font-family: Flood Std;
  font-size: 32px;
  width: 384px;
  position: relative;
  left: 70%;
  top: 100px;
}

.form-box{
  display: grid;
  color: white;
  background-color: #354463;
  padding: 70px;
  width: 640px;
  height: 1016px;
  position: relative;
  bottom: 100px;
}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.your-information{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}



.form-input-place{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 1em;
}


.payment-info{
  display: grid;
  grid-row-gap: 2em;
}

.credit-expiration{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}
.year-month{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.form-input-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.payment-button button{
  width: 256px;
  height: 56px;
  padding : 0.6em 0em 0.6em 0em;
  border-radius: 100px;
  font-weight: bold;
  background-color: #C1F7D5;
  color: #354463;
  border: none;
  position: relative;
  left: 420px;
  top: 100px;
}

.go-back button{
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 16px/56px Helvetica;
  background-color: inherit;
  border-color: inherit;
  border: none;
}
.go-back a{
  color: #C1F7D5;
}

.payment-quote{
  padding-top: 100px;
  width: 512px;
  height: 89px;
  font-size: 1em;
  margin: auto;
}

/* End of form section */

/* footer section starts here */


footer{
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr 1.2fr;
  grid-column-gap: 2em;
  padding: 100px 0 100px 60px;
}
.footer-header h3{
  width: 192px;
  height: 81px;
  text-align: left;
  font: normal normal bold 22px/28px Helvetica;
  color: #354463;
}
.foot-contact-head {
  width: 95px;
  height: 14px;
  text-align: left;
  font: normal normal normal 14px/17px Helvetica;
}
.foot-contact-address{
  padding-top: 10px;
  width: 126px;
  height: 74px;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  color: #354463;
}
.foot-link-head{
  height: 14px;
  text-align: left;
  font: normal normal normal 14px/17px Helvetica;
}
.foot-link-items{
  padding-top: 10px;
  width: 80px;
  height: 74px;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  color: #354463;
}
.footer-follow-us{
  height: 14px;
  text-align: left;
  font: normal normal normal 14px/17px Helvetica;
}
.footer-follow-items{
  padding-top: 10px;
  width: 80px;
  height: 74px;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  color: #354463;
}
/* End of footer section */

/* Desktop view end here */

/* Tablet view starts here */

@media screen and (max-width: 770px) {


  .donation-form{
    padding-left: 0;
  }

  .quote{
    font-size: 25px;
    width: 512px;
    height: 104px;
    text-align: center;
    margin: auto;
    left: 0;
    top: 0;
  }
  .form-box{
    padding: 20px;
    width: 640px;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 0;
  }
  .payment-button button{
    left: 320px;
    top: 10px;
  }

  .go-back button{
    transform: translateX(50px);
    position: relative;
    bottom: 40px;
    color: #C1F7D5;
  }

  /* form section ends here */

  /*footer section here */

  footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0em;
    padding: 50px 0 0px 60px;
  }

  .foot-contact-head {

    font: normal normal normal 11px/13px Helvetica;
  }
  .foot-link-head{
    width: 95px;
    font: normal normal normal 11px/13px Helvetica;
  }

  .footer-follow-us{
    width: 95px;
    font: normal normal normal 11px/13px Helvetica;
  }
  .footer-follow-items{
    padding-top: 10px;
    width: 80px;
    height: 74px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    color: #354463;
  }
  .footer-tag h2{
    position: relative;
    left: 225px;
  }
  /* footer section ends here */
    /* tablet view ends here */
}

/* mobile view starts here */


@media screen and (max-width: 360px){

  .donation-form{
    padding-left: 0;
  }

  .quote{
    width: 312px;
    height: 79px;
    text-align: center;
  }

  .form-box{
    padding: 10px 10px 0 10px;
    width: 312px;
    padding-left: 10px;
  }

  h2{
    font-size: 20px;
  }



  .form-input-place{
    grid-template-columns: .2fr .2fr .2fr;
    grid-column-gap: 0;
  }



  .credit-expiration{
    grid-template-columns: .3fr .3fr;
    grid-column-gap: 0;
  }
  .year-month{
    grid-template-columns: .5fr 0.5fr;
    grid-column-gap: 0;
  }


  .form-input-name{
    grid-template-columns: .3fr .2fr;
  }


  .payment-button button{
    left: 50px;
  }

  .go-back button{
    transform: translateX(0);
    bottom: 0px;
  }

  input, select{
    padding-bottom: 0;
    padding-top: 20px;
    width: 100px;
  }
  .form-input-address input{
    width: 300px;
  }
  .form-email input{
    width: 300px
  }
  label{
    font-size: 15px;
  }

  header{
    font-size: 20px;
  }

  .payment-quote h2{
    padding-top: 0;
    width: 309px;
    height: 83px;
    font-size: 20px;
    margin: 0;
  }
  /* form section ends here */

  /*footer dection ends here */

  footer{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 4em;
    padding: 50px 0 0px 60px;
  }

  .foot-contact-head {
    font: normal normal normal 11px/13px Helvetica;
  }
  .foot-link-head{
    width: 95px;
    font: normal normal normal 11px/13px Helvetica;
  }

  .footer-follow-us{
    width: 95px;
    font: normal normal normal 11px/13px Helvetica;
  }
  .footer-follow-items{
    padding-top: 10px;
    width: 80px;
    height: 74px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    color: #354463;
    padding-bottom: 30px;
  }
  .footer-tag h2{
    position: relative;
    left: 205px;
    bottom: 50px;
  }
  /*footer ends here */
  /*mobile view ends here */

}
